
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: yellow;
  color: blue;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
 
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
</style>
</head>
<body>

<!-- Top navigation -->
<div class="topnav">

  <!-- Centered link -->
  <div class="topnav-centered">
    <a href="index.html" class="active">Home</a>
  </div>
 
  <!-- Left-aligned links (default) -->
  <a href="about.html">About Us</a>
  <a href="contactus.html">Contact Us</a>
 
  <!-- Right-aligned links -->
  <div class="topnav-right">
      <a href="Sub1.html">FAQ</a>
  </div>
  <!-- Right-aligned links -->
  <div class="topnav-right">
    <a href="Sub2.html">Services</a>
   
  </div>
 
</div>

<div style="padding-left:16px">

</div>

* { box-sizing: border-box:

}
.column { float: left;
          width: 33.33%;
          padding: 5px;
}







  

